/* Reset básico para alguns elementos */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #e2e8f0;
    line-height: 1.6;
    padding: 20px;
}

header {
    background-color: #4a5568;
    color: #f7fafc;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #cbd5e0;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav ul li a:hover, nav ul li a:focus {
    color: #e2e8f0;
}

main {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: calc(33% - 20px);
    text-align: center;
}

button {
    background-color: #4a5568;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover, button:focus {
    background-color: #2d3748;
    transform: translateY(-2px);
    outline: none;
}

button:active {
    background-color: #2a4365;
    transform: translateY(1px);
}




footer {
    text-align: center;
    background-color: #4a5568;
    color: #f7fafc;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 1em;
}
